{% extends 'base.html' %}

{% load static %}

{% block title %} | {{ listing.name }} {% endblock %}

{% block content %}

<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{{ listing.name }}</h1>
          <p class="lead">
            {{ listing.city }}, {{ listing.state }}
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'listings' %}">Missing People</a>
          </li>
          <li class="breadcrumb-item active">{{ listing.name }}</li>
        </ol>
      </nav>
    </div>
  </section>
  {% include 'partials/_alerts.html' %}

  <!-- Listing -->
  <section id="listing" class="py-4">
    <div class="container">
      <a href="{% url 'listings' %}" class="btn btn-light mb-4">Back To See All Missing People</a>
      <div class="row">
        <div class="col-md-9">
          <!-- Home Main Image -->
          <img src="{{ listing.photo_main.url }}" alt="" class="img-main img-fluid mb-3">
          <!-- Fields -->
          <div class="row mb-5 fields">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  Requestor:
                  <span class="float-right">{{ listing.user }}
                  </span>
                </li>
                <li class="list-group-item text-secondary">
                  Missing Date:
                  <span class="float-right">{{ listing.missing_date }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  Age:
                  <span class="float-right">{{ listing.age }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  Gender:
                  <span class="float-right">{{ listing.sex }}</span>
                </li>
              </ul>
            </div>
          </div>

          <!-- Description -->
          <div class="row mb-5">
            <div class="col-md-12">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia recusandae esse reiciendis officia omnis non rerum dicta
              cupiditate nostrum molestias deserunt aut minus inventore animi atque, consequuntur ad fugit. Possimus culpa
              blanditiis repellendus ipsa similique ullam, natus error dolor harum.
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Requestor</h5>
              <h6 class="text-secondary">{{ listing.user }}</h6>
            </div>
          </div>
          <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Give Information</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Inquiry Modal -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">send Information</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% if user.is_authenticated %}
            <form action="{% url 'contact' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="user_id" value="{{ user.id }}">
              <input type="hidden" name="requestor_email" value="{{ listing.user.email }}">
              <input type="hidden" name="missing_person_name" value="{{ listing.name }}">
              <input type="hidden" name="listing_id" value="{{ listing.id }}">
              <div class="form-group">
                <label for="requestor_name" class="col-form-label">Name To:</label>
                <input type="text" name="requestor_name" class="form-control" value="{{ listing.user.first_name }} {{ listing.user.last_name }}" disabled>
              </div>
              <div class="form-group">
                <label for="name" class="col-form-label">Name From:</label>
                <input type="text" name="name" class="form-control" value="{{ user.first_name }} {{ user.last_name }}" required>
              </div>
              <div class="form-group">
                <label for="email" class="col-form-label">Email:</label>
                <input type="email" name="email" class="form-control" value="{{ user.email }}" required>
              </div>
              <div class="form-group">
                <label for="phone" class="col-form-label">Phone:</label>
                <input type="text" name="phone" class="form-control">
              </div>
              <div class="form-group">
                <label for="message" class="col-form-label">Message:</label>
                <textarea name="message" class="form-control"></textarea>
              </div>
              <div class="form-group">
                  <label for="date" class="col-form-label">When you saw:</label>
                  <input type="date" name="date" value="2021-01-01" min="2000-01-01" max="2030-01-01">
                </div>
              <hr>
              <input type="submit" value="Send" class="btn btn-block btn-secondary">
            </form>
          {% else %}
            <div class="form-group">
              <label class="col-form-label">Please Login to send information.</label>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}